/venv
/Web_Text_Files/fail_file.txt
/Web_Text_Files/combined_file.txt
/Web_Text_Files/success_file.txt
/Web_Text_Files/Usefulinfo.txt
/Web_Tests/__pycache__
/Web_Tests/Registration/__pycache__
/Web_Text_Files/credentials.env
/Mobile_Tests/node_modules
/Mobile_Tests/package-lock.json
/Mobile_Tests/package.json